.text {color: #009400; font-family: sans-serif; font-weight: bold;}
body {background-color: #005800; margin: 0;}
footer {text-align: center; width: 100vw; position: fixed; bottom: 0;}
footer img {display: inline-block;}
.link {letter-spacing: normal; transition: letter-spacing ease 1s}
.link:hover {letter-spacing: 2px;}
